@page "/employees"

<PageTitle>Employees</PageTitle>
<div class="row" style="margin-bottom: 1rem">
    <div class="col-12 col-md-6">
        <RadzenText Text="Employees" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
    </div>
    <div class="col-12 col-md-6 justify-content-start justify-content-md-end" style="display: flex; align-items: center; flex-wrap: wrap; gap: 0.5rem">
    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"  AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true"
            Data="@employees"    TItem="WebHotels.WebUI.Models.WebHotelsDB.Employee" RowSelect="@EditRow" >
            <Columns>
                <RadzenDataGridColumn TItem="WebHotels.WebUI.Models.WebHotelsDB.Employee" Property="Id" Title="Id">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="WebHotels.WebUI.Models.WebHotelsDB.Employee" Property="Name" Title="Name">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="WebHotels.WebUI.Models.WebHotelsDB.Employee" Property="Surname" Title="Surname">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="WebHotels.WebUI.Models.WebHotelsDB.Employee" Property="Position" Title="Position">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="WebHotels.WebUI.Models.WebHotelsDB.Employee" Property="Age" Title="Age">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="WebHotels.WebUI.Models.WebHotelsDB.Employee" Property="Department" Title="Department">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="WebHotels.WebUI.Models.WebHotelsDB.Employee" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="employee">

                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, employee)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
